@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "react-toastify/dist/ReactToastify.css";
@import "../scss/pages/dropzone";
@import "~react-perfect-scrollbar/dist/css/styles.css";
@import "~react-datepicker/dist/react-datepicker.css";
@import "~react-image-crop/dist/ReactCrop.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "vendors/scrollable.scss";
@import "vendors/themify.scss";
@import "vendors/whether-icon.scss";
@import "vendors/icofont.scss";
@import "vendors/font-awesome.scss";
@import "vendors/flag-icon.scss";
@import "vendors/icoicon/icons";
@import "simplebar-react/dist/simplebar.min.css";
@import "vendors/sticky/sticky";
@import "vendors/todo";
@import "style.scss";
@import "responsive.scss";

//tour
@import "@sjmc11/tourguidejs/src/scss/tour.scss";
